@model IEnumerable<RealEstateEFCoreProject.Models.BrokerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Sąrašas</h1>

<p>
    <a asp-action="Add">Naujas Brokeris</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CompanyBrokers)*@
                    @foreach (var itemInner in item.CompanyBrokers)
                    {
                        
                        @itemInner.Company.CompanyName

                        String.Join(", ");

                    }

                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Broker", new { id = $"{item.Id}" })  |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", "Broker", new { id = $"{item.Id}" })
                </td>
            </tr>
        }
    </tbody>
</table>








@*@model List<BrokerModel>


    <ul>
        @foreach (var broker in Model)
        {
            <li>
                @broker.FullName @Html.ActionLink("Edit", "Edit", "Broker", new { id = broker.Id })
                @Html.ActionLink("Delete", "Delete", "Broker", new { id = broker.Id })
            </li>

        }
    </ul>*@
