@model IEnumerable<RealEstateEFCoreProject.Dtos.BrokerIndexDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Sąrašas</h1>

<p>
    <a asp-action="Add">Naujas Brokeris</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Broker.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Broker.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Broker.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Broker.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNames)

                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Broker", new { id = $"{item.Broker.Id}" })  |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "Delete", "Broker", new { id = $"{item.Broker.Id}" })
                </td>
            </tr>
        }
    </tbody>
</table>








@*@model List<BrokerModel>


    <ul>
        @foreach (var broker in Model)
        {
            <li>
                @broker.FullName @Html.ActionLink("Edit", "Edit", "Broker", new { id = broker.Id })
                @Html.ActionLink("Delete", "Delete", "Broker", new { id = broker.Id })
            </li>

        }
    </ul>*@
