@model IEnumerable<RealEstateEFCoreProject.Models.ApartmentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Sąrašas</h1>

<p>
    <a asp-action="Add">New Apartment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingFloors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlatNo)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.FlatFloor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuildingFloors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = $"{item.Id}" }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = $"{item.Id}" })
                </td>
            </tr>
        }
    </tbody>
</table>
